header {
background-image: url(../images/bg.jpg);
background-position: center center;
background-size: cover;
min-height: 100vh;
}

/* التنسيقات المطبقة على الطبقة الزرقاء التي تلي الخلفية ونقلها للأسفل */
header .MainCard {
background-color: rgba(5, 117, 230, 0.8);
color: #ffffff;
padding: 3% 10%;
transform: translateY(20%);
}

/* إضافة إطار للصورة وضبط الهامش الخاص بها */
header .MainCard img {
border: 5px solid #72ace7;
margin-bottom: 20px;
width: 100px;
height: 100px;
}

/* وضبط الهامش h1 تنسيقات الخط والمسافات في العنوان */
header .MainCard h1 {
font-size: 36px;
line-height: 50px;
margin-bottom: 25px;
}

/* تنسيقات الخط المطبقة على المسمى الوظيفي */
header .MainCard h1 span {
font-size: 24px;
}

/* ضبط الهامش والحاشية الخاصة بأيقونات التواصل الاجتماعي */
header .MainCard ul {
padding-right: 0;
margin-bottom: 40px;
}

/* التنسيقات المطبقة على أيقونات التواصل الاجتماعي */
header .MainCard ul li {
margin-right: 10px;
}

header .MainCard ul li a {
color: #021b79;
font-size: 24px;
}

/* ضبط التنسيقات الخاصة بالعنوان الثاني في الأسفل */
header .MainCard h2 {
font-size: 15px;
line-height: 30px;
font-weight: bold;
margin-bottom: 15px;
}

/* ضبط التنسيقات الخاصة بالفقرة النصية في الأسفل */
header .MainCard p {
font-size: 15px;
line-height: 30px;
color: #89c4ff;
margin-bottom: 40px;
}

/* خصائص الخط المستخدمة في زر تحميل السيرة الذاتية */
header .MainCard>a {
color: #ffffff;
font-size: 18px;
line-height: 32px;
margin-bottom: 40px;
}
/***************************************NAV*******************************/
/* التنسيقات المطبقة على شرائط التنقل وضبط الهامش من اليمين واليسار للقائمة */
nav.navbar ul.navbar-nav li a.nav-link {
color: #ffffff;
font-size: 16px;
line-height: 60px;
padding-right: 1.5rem;
padding-left: 1.5rem;
transition: all 0.5s ease;
}

/* تغير لون عناصر القائمة عند مرور مؤشر الفأرة فوقه */
nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active {
color: #0575e6;
background-color: #ffffff;
}

/* تغير لون عناصر القائمة إلى الأزرق عند النزول إلى أسفل الصفحة */
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
color: #0575e6;
}

/* تغير لون عناصر القائمة عند مرور مؤشر الفأرة فوقه */
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
color: #ffffff;
background-color: #0575e6;
}

/* إضافة إطار يحيط بالقائمة عند النزول إلى أسفل الصفحة */
nav.navbar.noTransparrent {
background-color: #ffffff;
border-bottom: 1px solid #eee;
}

/* ضبط الهامش الخاص يأيقونة القائمة */
nav.navbar.noTransparrent button.navbar-toggler {
margin: 30px auto;
}

/* تغير لون أيقونة القائمة عند الانتقال للأسفل */
nav.navbar.noTransparrent button.navbar-toggler span {
color: #0575e6;
}

/* التنسيقات المطبقة على عناصر القائمة في الشاشات ذات العرض الأصغر من 767 بيكسل  */
/* bootstrap يوجد تعديلات هنا لم يضفها المدرب وذلك لأن هذه التعديلات تتناسب مع النسخ الحديثة فقط من */
@media (max-width: 767px) {
nav.navbar {
min-height: 80px;
text-align: right;
}

nav.navbar .container {
width: 100%;
position: relative;
min-height: 40px;
}

nav.navbar button.navbar-toggler {
position: absolute;
left: 0;
top: 0;
margin: 0;
}

nav.navbar button.navbar-toggler span {
display: flex;
align-items: center;
justify-content: center;
}

nav.navbar.noTransparrent button.navbar-toggler {
margin: 0;
}

nav.navbar ul {
padding-right: 0;
}
}
/****************************************************************************/
.experience{
  margin-top: 150px;
  padding-bottom: 20px;
  }
  .experience h3{
  position: relative;
  color: blue;
  }
  .experience h3:after{
  position: absolute;
  content: '';
  width: 100px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  margin-bottom: -10px;
  }
  .experience h3:before{
  position: absolute;
  content: '';
  height: 550px;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  margin-top: 80px;
  }
  
  .experience .container div.content{
  background-color: white;
  border: 1px solid gray ;
  width: 400px;
  padding: 10px;
  position: relative;
  margin-top: 30px;
  }
  
  .experience .container .column .row-r {
  display: flex;
  justify-content: flex-end;
  }
  .experience .container div p.upper span:nth-child(1){
  background-color: blue;
  margin-left: 10px;
  color: white;
  padding: 3px;
  }
  /***********************STAT*******************************************/
section.statistics {
background-image: url(../images/bg2.jpg);
background-position: center center;
background-size: cover;
background-attachment: fixed;
}

/* إضافة طبقة زرقاء شفافة أمام الخلفية */
section.statistics .overlay {
background-color: rgba(5, 117, 230, 0.7);
padding: 100px 0;
}

/* تنسيقات الخط المطبقة على الفقرة النصية في قسم المهارات */
section.statistics .overlay .stat p {
font-size: 24px;
line-height: 30px;
font-family: 'Open Sans', sans-serif;
margin-top: 30px;
color: white;
}

section.statistics .overlay .stat .circle canvas {
background-color: #eef6ff;
border-radius: 50%;
padding: 8px;
}

section.statistics .overlay .stat .circle {
position: relative;
}

section.statistics .overlay .stat .circle span {
font-size: 24px;
font-weight: bold;
color: #0575e6;
position: absolute;
top: 50%;
right: 50%;
transform: translate(50%, -50%);
}
/***************************************GALLERY*******************************/
section.gallery {
padding: 75px 0 90px;
}

/* ضبط الهامش ليفصل بين العنوان والفقرات في الأسفل */
section.gallery .title {
margin-bottom: 35px;
}

/* تنسيقات الخط المطبقة في العنوان */
section.gallery .title h2 {
font-size: 30px;
line-height: 50px;
color: #0575e6;
}

/* فصل الأيقونة عن العنوان ضمن سطر خاص بها */
section.gallery .title h2 i {
display: block;
}

/* إخفاء عناصر الدخل في هذا القسم */
section.gallery .work-gallery input {
display: none;
}

/* التنسيقات الخاصة بالتصنيفات الموجودة بالقسم */
section.gallery .work-gallery label {
font-size: 18px;
line-height: 35px;
color: #8f9899;
cursor: pointer;
margin: 0 7px 40px;
padding: 10px 30px;
background-color: #ffffff;
border: 2px solid #e4eeee;
border-radius: 2px;
transition: all 0.5s ease;
}

/* التنسيقات الخاصة بالتصنيفات عند مرور مؤشر الفأرة فوقه */
section.gallery .work-gallery label:hover {
color: #ffffff;
background-color: #0575e6;
border: 2px solid #0575e6;
}

/* تغيير لون التصنيفات عند النقر عليها */
section.gallery .work-gallery input.item-type-1:checked~label.label-type-1,
section.gallery .work-gallery input.item-type-2:checked~label.label-type-2,
section.gallery .work-gallery input.item-type-3:checked~label.label-type-3,
section.gallery .work-gallery input.item-type-all:checked~label.label-type-all {
color: #ffffff;
background-color: #0575e6;
border: 2px solid #0575e6;
}

/* تكبير الصور التابعة للتصنيف عند الضغط عليه */
section.gallery .work-gallery input.item-type-1:checked~.items .item-type-1,
section.gallery .work-gallery input.item-type-2:checked~.items .item-type-2,
section.gallery .work-gallery input.item-type-3:checked~.items .item-type-3 {
transform: scale(1.08);
opacity: 1;
}

/* تصغير باقي صور التصنيفات وظهورها بشفافية */
section.gallery .work-gallery input.item-type-1:checked~.items .item:not(.item-type-1),
section.gallery .work-gallery input.item-type-2:checked~.items>.item:not(.item-type-2),
section.gallery .work-gallery input.item-type-3:checked~.items>.item:not(.item-type-3) {
transform: scale(0.8);
opacity: 0.5;
}

/* جعل التنسيقات على مجموعة الصور تظهر ببطء */
section.gallery .work-gallery .items .item {
transition: all 0.6s ease;
margin-bottom: 25px;
}
/***************************************CONTACT*******************************/
section.contacts {
background-image: url(../images/bg3.jpg);
background-position: center center;
background-size: cover;
}

/* تنسيقات الطبقة السوداء التي تغطي خلفية القسم */
section.contacts .overlay {
background-color: rgba(0, 0, 0, 0.6);
padding-top: 100px;
}

/* التنسيقات الخاصة بخط العنوان وضبط الهامش الخاص به */
section.contacts .overlay .testimonials .title h3 {
font-size: 30px;
color: #ffffff;
margin-bottom: 27px;
line-height: 50px;
}

/* تنسيق عارض الشرائح ليكون بحجم 65% من حجم الصفحة والهامش من الاسفل */
section.contacts .overlay .testimonials .slider {
width: 65%;
margin: 0px auto 80px;
}

/* تحديد عرض ولون الخط دخل عارض الشرائح */
section.contacts .overlay .testimonials .slider .carousel {
min-height: 250px !important;
color: #b1b1b1;
}

/* ضبط الحواشي الخاصة بعارض الشرائح وتحديد لون الخلفية داخله */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption {
background-color: #ffffff;
width: 100%;
padding: 80px 70px 35px;
right: 0;
left: 0;
}

/* تحديد ارتفاع عارض الشرائح */
section.contacts .overlay .testimonials .slider .carousel .carousel-item {
min-height: 350px;
}

/* تحريك الصورة إلى أعلى عارض الشرائح */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption img {
position: absolute;
top: 0;
right: 50%;
transform: translate(50%, -50%);
}

/* التنسيقات المطبقة على الخط في العنوان */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption h3 {
font-size: 18px;
color: #555555;
margin-bottom: 15px;
}

/* تنسيقات فقرة المسمى الوظيفي ضمن العنوان */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption h3 span {
font-size: 15px;
color: #9c9c9c;
}

/* التنسيقات المطبقة على الفقرة النصية في الأسفل وضبط الهامش الخاص بها */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption p {
font-size: 15px;
line-height: 22px;
color: #b1b1b1;
margin-bottom: 25px;
}

/* التنسيقات المطبقة على وسم الرابط التشعبي الذي يحتوي على أيقونات التواصل الإجتماعي */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption ul li a {
font-size: 24px;
color: #b2d8fe;
}

/* إزالة الحاشية التي يتم إضافتها على القوائم تلقائيًا */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption ul {
padding-right: 0;
}

/* تحديد المسافة بين القوائم من خلال ضبط الهامش */
section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption ul li {
margin-right: 5px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators li {
max-width: 15px;
height: 15px;
border: 1px solid #0575e6;
background-color: #ffffff;
}

/* تغيير لون نقطة التنقل الفعالة */
section.contacts .overlay .testimonials .slider .carousel .carousel-indicators li.active {
background-color: #0575e6;
}

/* ضبط الحواشي والهامش لعارض الشرائح */
section.contacts .overlay .testimonials .slider .carousel .carousel-indicators {
padding-right: 0;
margin: 0;
bottom: 12px;
}

/* إلغاء الحواشي المضافة إلى النقاط وتحريكها للأسفل */
section.contacts .overlay .testimonials .slider .carousel .carousel-item {
min-height: 350px;
}

/* إضافة أسهم التنقل وتعيين موضعها في وسط عارض الشرائح */
section.contacts .overlay .testimonials .slider .carousel .carousel-control-next,
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev {
top: 50%;
bottom: auto;
width: auto;
transform: translate(50%, -50%);
z-index: 10;
/* bootstrap حتى يتناسب مع النسخة الاحدث من */
}

/* التنسيقات المطبقة على أسهم التنقل */
section.contacts .overlay .testimonials .slider .carousel .carousel-control-next i,
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev i {
padding: 10px 20px;
background: #0575e6;
border-radius: 50%;
}

/* إلى منتصف عارض الشرائح prev إزاحة سهم */
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev {
transform: translate(-50%, -50%);
}

section.contacts {
text-align: right;
}

/* ضبط الحاشية العلوية وتعيين لون الخلفية */
section.contacts .overlay .contact-info {
background-color: #ffffff;
padding: 50px;
}

/* التنسيقات المطبقة على الخط في العنوان */
section.contacts .overlay .contact-info .title h3 {
font-size: 30px;
color: #0575e6;
margin-bottom: 35px;
line-height: 50px;
}

/* التنسيقات المطبقة على حقول الإدخال في نموذج الإرسال */
section.contacts .overlay .contact-info .form form .form-group input,
section.contacts .overlay .contact-info .form form .form-group textarea {
border: 2px solid #f1f1f1;
border-radius: 3px;
font-family: ar-font;
font-size: 18px;
color: #c2c2c2;
line-height: 35px;
padding-right: 45px;
}

/* تحديد ارتفاع حقل إدخال الرسائل */
section.contacts .overlay .contact-info .form form .form-group textarea {
min-height: 220px;
max-height: 220px;
}

/* التنسيقات المطبقة على الأيقونات الموجودة في حقول الإدخال */
section.contacts .overlay .contact-info .form form .form-group {
position: relative;
}

section.contacts .overlay .contact-info .form form .form-group:before {
font-family: FontAwesome;
position: absolute;
top: 8px;
/* bootsrap حتى يتناسب مع النسخة الحديثة من */
right: 30px;
font-size: 18px;
line-height: 25px;
color: #0575e6;
display: inline-block;
}

/* إضافة أيقونة المستخدم في الحقل الأول */
section.contacts .overlay .contact-info .form form .form-group:first-of-type:before {
content: "\f007";
}

/* إضافة أيقونة ظرف الرسالة في الحقل الثاني */
section.contacts .overlay .contact-info .form form .form-group:nth-of-type(2):before {
content: "\f0e0";
}

/* التنسيقات المطبقة على زر الإرسال */
section.contacts .overlay .contact-info .form form button {
font-family: ar-font;
font-size: 24px;
color: #0575e6;
line-height: 25px;
background-color: #ffffff;
padding: 10px 70px;
border: 2px solid #0575e6;
border-radius: 3px;
margin-left: 15px;
margin-bottom: 20px;
}

section.contacts .overlay .contact-info ul.contact-us li {
font-family: 'Open Sans';
font-size: 16px;
line-height: 30px;
color: #0575e6;
}

/* إلغاء الحاشية التي يتم افتراضها على القوائم */
section.contacts .overlay .contact-info ul {
padding: 0;
text-align: center;
}

/* ضبط الهامش عن يمين أيقونات التواصل الاجتماعي */
section.contacts .overlay .contact-info ul.social li {
margin-right: 9px;
}

/* التنسيقات المطبقة على أيقونات التواصل الاجتماعي */
section.contacts .overlay .contact-info ul.social li a i {
background-color: #9bc8f5;
color: #ffffff;
border-radius: 50%;
width: 50px;
height: 50px;
text-align: center;
line-height: 50px;
transition: all 0.3s ease;
}

/* تغيير لون أيقونات التواصل الإجتماعي عند مرور مؤشر الفأرة فوقه */
section.contacts .overlay .contact-info ul.social li a i:hover {
background-color: #0575e6;
}

/* التنسيقات المطبقة على الفقرة النصية أسفل الصفحة */
section.contacts .overlay .copyright p {
font-size: 18px;
color: #ececec;
line-height: 77px;
margin: 0px;
}

section.contacts form .error {
color: red;
}

/* تعديل التنسيقات المطبقة على بعض العناصر لتلائم الشاشات الأصغر من 990 بكسل */
@media (max-width: 990px) {
nav.navbar ul.navbar-nav li a.nav-link {
padding-right: 0.75rem;
padding-left: 0.75rem;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-item {
min-height: 390px;
}

section.contacts .overlay .contact-info ul.social li a i {
width: 40px;
height: 40px;
line-height: 40px;
}

section.contacts .overlay .contact-info .form form .form-group input,
section.contacts .overlay .contact-info .form form .form-group textarea {
font-size: 14px;
}
}

/* يمكنك اضافة هذا الجزء بالإضافة إلى الشيفرة المشروحه فى الدروس السابقة  */
@media (max-width: 990px) and (min-width: 768px) {
section.contacts .overlay .contact-info ul.contact-us li {
overflow-wrap: break-word;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}

nav.navbar ul.navbar-nav li a.nav-link {
padding-right: 0;
padding-left: 0;
margin-right: 14px;
}
}

@media (max-width: 767px) {
section.contacts .overlay .contact-info .form form button {

font-size: 20px;
padding: 6px 25px;
}

section.gallery .work-gallery label {
margin: 0px 8px 40px;
padding: 7px 7px;
}

nav.navbar ul.navbar-nav li a.nav-link {

font-size: 18px;
line-height: 10px;
text-align: center;
padding: 13px;
}

.fa-bars {
color: blue;
}
}

@media (max-width: 576px) {}


@media (max-width: 450px) and (min-width: 283px) {
header .MainCard img {
width: 215px;
height: 240px;
}


header .MainCard h1 {
font-size: 20px;
line-height: 40px;
margin-bottom: 25px;
}

header .MainCard h1 span {
font-size: 17px;
}

header .MainCard p {
font-size: 12px;
line-height: 25px;
margin-bottom: 30px;

}

header .MainCard>a {
font-size: 15px;
line-height: 25px;
margin-bottom: 40px;
}

section.licence .title h2 {
font-size: 25px;
line-height: 45px;

}

section.licence ul.timeline li .time-box p {
font-size: 12px;
line-height: 20px;
text-align: justify;
}

section.licence ul.timeline li .time-box h4 {
font-size: 13px;
line-height: 30px;

}

section.licence ul.timeline li:nth-of-type(even) {
direction: ltr;

}

section.licence ul.timeline li .time-box h4 span {
margin-left: 0px;
margin-right: 13px;
padding: 0px 5px;
}

section.statistics .overlay .stat p {
font-size: 20px;
line-height: 20px;
margin-top: 25px;

}

section.statistics .overlay .stat .circle span {
font-size: 20px;
top: 47%;
right: 49%;

}

section.gallery .work-gallery label {
font-size: 10px;
line-height: 15px;
margin: 0px 0px 52px;
padding: 5px 7px;
margin-left: 1px;
margin-right: 0px
}

section.gallery .title h2 {
font-size: 25px;
line-height: 40px;

}

section.contacts .overlay {

padding-top: 60px;
}

section.contacts .overlay .testimonials .slider {
width: 100%;

}

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption {
width: 100%;
padding: 65px 35px 35px;
right: 0;
left: 0;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-indicators {
bottom: 0px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-item {
min-height: 450px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-control-next i,
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev i {
padding: 5px 15px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-control-next,
section.contacts .overlay .testimonials .slider .carousel .carousel-control-prev {
top: 55%;
}

section.contacts .overlay .contact-info .form form button {

font-size: 20px;
line-height: 20px;
padding: 10px 25px;
margin-right: 0px;
margin-left: 60px;
}

section.contacts .overlay .contact-info ul.contact-us li {
font-size: 15px;

}

nav.navbar ul.navbar-nav li a.nav-link {

font-size: 13px;
line-height: 18px;
}
}


@media (max-width:320px) {
section.gallery .work-gallery label {
font-size: 7px;
line-height: 13px;
margin: 0px 0px 15px;
padding: 5px 9px;
margin-left: 0px;
margin-right: 3px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-item .carousel-caption {
padding: 56px 35px 35px;

}

section.contacts .overlay .contact-info .form form button {

margin-left: 40px;
}

section.contacts .overlay .contact-info ul.social li a i {
width: 39px;

}

header .MainCard {

transform: translateY(29%);
}

.container {

margin-bottom: 25px;
}

section.contacts .overlay .testimonials .slider .carousel .carousel-item {
min-height: 460px;
}
}