@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
body{
margin: 0;
}
*{
font-family: 'Amiri', serif;

}
header{
background-image: url(../images/bg1.0.jpg);
background-position: center center;
background-size: cover;
max-height: 80vh;
background-attachment: fixed;
padding-top: 100px;
}
header .about .container{
margin-top: 50px;
background-color:rgba(5, 117, 230, 0.8);
color: white;
padding-bottom: 10px;
}
header .about img{
border-radius: 50%;
border: 5px solid #72ace7;
height: 100px;
width: 100px;
}
header .about ol{
display: flex;
width: 200px;
margin-right: auto;
margin-left: auto;
}
header .about ol li{
list-style: none;
margin-right: 10px;
border: 1px solid white;
height: 50px;
width: 50px;
line-height: 50px;
border-radius: 50%;
cursor: pointer;
}
header .about ol li:hover{
background-color: #72ace7;
transition: 1s;
}
header .container.up{
background-color: black;
color: #0575e6;
width: 500px;
margin-right: auto;
margin-left: auto;
}
header .up ol{
display: flex;
position: fixed;
z-index: 1; 
background-color: black;
top: 0;
font-size: 18px;
padding: 10px;


}
header .up ol li{
margin-right: 10px;
list-style: none;
}
@media only screen and (max-width: 520px) {
header .up ol{
display: flex;
flex-direction: column-reverse;
width: 100%;
}
}

/****************EXPERIENCE************/
.experience{
margin-top: 150px;
padding-bottom: 20px;
}
.experience h3{
position: relative;
color: blue;
}
.experience h3:after{
position: absolute;
content: '';
width: 100px;
height: 2px;
bottom: 0;
left: 50%;
transform: translateX(-50%);
background-color: blue;
margin-bottom: -10px;
}
.experience h3:before{
position: absolute;
content: '';
height: 550px;
width: 2px;
top: 0;
left: 50%;
transform: translateX(-50%);
background-color: blue;
margin-top: 80px;
}

.experience .container div.content{
background-color: white;
border: 1px solid gray ;
width: 400px;
padding: 10px;
position: relative;
margin-top: 30px;
}

.experience .container .column .row-r {
display: flex;
justify-content: flex-end;
}
.experience .container div p.upper span:nth-child(1){
background-color: blue;
margin-left: 10px;
color: white;
padding: 3px;
}
/********************************SKILLS******************/
.skills{
background-image: url(../images/bg2.0.jpg);
background-position: center center;
background-size: cover;
min-height: 40vh;
background-attachment: fixed; 
}
.skills .overlay{
background-color: rgba(43, 84, 207, 0.5);
min-height: 40vh;
}

.skills .row .inner{
background-color: white;
border-radius: 50%;
height: 90px;
width: 90px;
border-top:5px solid #0575e6;
border-bottom:5px solid white;
border-left:5px solid #0575e6;
border-right:5px solid #0575e6;
}
.skills .row .inner p{
line-height: 80px;
text-align: center;
}
.skills .row p.skill{
transform: translateX(15%);
color: white;
}
.skills .row .item .circle canvas{
background-color: #eef6ff;
border-radius: 50%;
padding: 8px;
}
.skills .circle{
position: relative;
}
.skills .circle span{
font-size: 20px;
font-weight: bold;
color:#0575e6;
position: absolute;
top:30%;
left:5%;
transform:translateX(100%);
}
/************************************PROJECTS*******************/
.gallery{
margin-top: 50px;
}
.gallery h2{
padding-bottom: 10px;
color: #0575e6;
}
/* إخفاء عناصر الدخل في هذا القسم */
section.gallery .work-gallery input {
display: none;
}
/* التنسيقات الخاصة بالتصنيفات الموجودة بالقسم */
section.gallery .work-gallery label {
font-size: 18px;
line-height: 35px;
color: #8f9899;
cursor: pointer;
margin: 0 7px 40px;
padding: 10px 30px;
background-color: #ffffff;
border: 2px solid #e4eeee;
border-radius: 2px;
transition: all 0.5s ease;
}
/* التنسيقات الخاصة بالتصنيفات عند مرور مؤشر الفأرة فوقه */
section.gallery .work-gallery label:hover {
color: #ffffff;
background-color: #0575e6;
border: 2px solid #0575e6;
}
/* تغيير لون التصنيفات عند النقر عليها */
section.gallery .work-gallery input.item-type-1:checked~label.label-type-1, 
section.gallery .work-gallery input.item-type-2:checked~label.label-type-2, 
section.gallery .work-gallery input.item-type-3:checked~label.label-type-3, 
section.gallery .work-gallery input.item-type-all:checked~label.label-type-all {
color: #ffffff;
background-color: #0575e6;
border: 2px solid #0575e6;
}
/* تكبير الصور التابعة للتصنيف عند الضغط عليه */
section.gallery .work-gallery input.item-type-1:checked~.items .item-type-1, 
section.gallery .work-gallery input.item-type-2:checked~.items .item-type-2, 
section.gallery .work-gallery input.item-type-3:checked~.items .item-type-3 {
transform: scale(1.08);
opacity: 1;
}
/* تصغير باقي صور التصنيفات وظهورها بشفافية */
section.gallery .work-gallery input.item-type-1:checked~.items .item:not(.item-type-1), 
section.gallery .work-gallery input.item-type-2:checked~.items>.item:not(.item-type-2), 
section.gallery .work-gallery input.item-type-3:checked~.items>.item:not(.item-type-3) {
transform: scale(0.8);
opacity: 0.5;
}
/* جعل التنسيقات على مجموعة الصور تظهر ببطء */
section.gallery .work-gallery .items .item {
transition: all 0.6s ease;
}
/***********************FOOTER*****************/
footer{
background-image: url(../images/bg3.0.jpg);
background-position: center center;
background-size: cover;
height: auto;
background-attachment: fixed; 
padding-top: 40px;    
}
/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;
margin-top:100px;
margin-right: auto;
margin-left: auto;
width: 600px;
}
.mySlides p{
margin-top: 50px;
}
.mySlides img{
margin-top: -50px;
border-radius: 50%;
}
.slideshow-container .mySlides{
background:#0575e6;
max-width: 100%;

}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
}
.prev{
left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: blue;
color: white;
text-decoration: none;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}


/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #0575e6;
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
/*************************************************************************************/
footer .container{
background-color: white;
}
footer .item-r{
direction: rtl;
color: #0575e6;
}
footer .item-r ol.lower{
display: flex;
}
footer .item-r ol li{
list-style: none;
margin-right: 10px;
}

footer .row .item-l{
    direction: rtl;
}
footer .row .item-l input{
width: 300px;
max-width: 100%;
direction: rtl;
outline: none;
}
footer .row .item-l textarea{
margin-top: 10px;
direction: rtl;
outline: none;
max-width: 100%;
width: 400px;
}
footer .row .item-l button{
outline: none;
}
footer h2,
h3{
color: #0575e6;
}